@import "../../includes/includes.scss";

$hover: #8A735C;
$active: #2f980c;
$shadow: #88a0bc;

.ball {
    margin: 0 47px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
}

.btn-custom {
    flex-grow: 1;
    min-height: 80px;
    margin: 45px 70px 0px 70px;
    box-shadow: 5px 10px $shadow;
    // box-shadow: 0 10px 0 0 $shadow; DA VEDERE INSIEME QUALE E' IL MIGLIORE DEI 2
    transition: all 0.2s ease-in-out;
    // padding: 50px 0 50px 0;
    // min-width: 50px;

    &:hover {
        background: $hover;
        border-color: $hover;

        &:active {
            transform: translateX(10px);
            transform: translateY(10px);
            box-shadow: 0 0 $shadow;
            background: $active;
            border-color: $active;
        }
    }
}

.poppins-title {
    font-size: 54px;
    line-height: 1.4em;
    text-align: center;
    max-width: 75%;
    margin: 50px auto 0;
} 

.poppins-text {
    font-size: 24px;
}

.btn-animation {
    padding: 20px;
    position: fixed;
    bottom: -100px;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: fadeInAnimation .75s ease-out forwards;

    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }

        25% {
            opacity: 0;
        }

        75% {
            bottom: 30%;
            opacity: 0.5;
        }

        100% {
            bottom: 29%;
            opacity: 1;
        }
    }
}