#root {
    $width: 0%;
    
}

.time-bar{
    
    position: absolute;
    bottom: 0; 
    height : 6px;
    background-color: red;
    // non toccare questi 2 qui sotto 
    width: var(--width);
    transition: width 1s linear;
    // da qui in poi fai quello che vuoi
}