@import "./../../includes/includes.scss";

.mapMenu {


    h1 {

        // border: 2px solid black;
        border-radius: 20px;
        // background-color: white;
    }

    .conteiner-map {
        margin-top: 200px;


        .box-button {
            padding: 30px;
            margin: 30px;
            // background-color: rgb(255, 166, 0);
            border-radius: 20px;
            // border: 2px solid black;
        }

        .map-btn {
            text-decoration: none;
            color: rgb(255, 0, 0);
            //padding: 20px 100px;
            border: 2px solid rgb(0, 0, 0);
            // border-radius:2%;
            border-radius: 50%;
            padding: 35px 60px;
            background-color: rgb(255, 255, 255);
            font-size: 3rem;

            &.disabled {
                background: red;
            }

            &:hover {
                color: black;
                background-color: rgb(53, 200, 53);
            }
        }

        .card-map {
            border: solid 2px rgb(102, 56, 0);
            background-color: rgb(255, 176, 80);
            ;
            border-radius: 10px 25px;
            padding: 10px;
        }

    }
}

.s-curve-connector {
    position: relative;
}

.s-curve-connector::before {
    content: '';
    position: absolute;
    width: 2px;
    /* Adjust the width of the curve */
    height: 100%;
    /* Adjust the height of the curve */
    background-color: #000;
    /* Adjust the color of the curve */
    left: 50%;
    transform-origin: top;
    transform: translateX(-50%) rotate(45deg) scaleY(2);
    /* Adjust the rotation and scaleY to shape the curve */
}