@import "./../../includes/includes.scss";

.mapMenu {
    padding: 160px 0;

    .map-title {
        padding: 0 80px 80px 80px;
    }

    .container-map {
        .box-button {
            padding: 30px;
            margin: 30px;
            border-radius: 20px;
        }

        .map-btn {
            text-decoration: none;
            border: 0;
            background-color: transparent;
            font-size: 3rem;
            transition: 0.3s;
            position: relative;
            z-index: 2;

            .level-btn {
                width: 240px;
                background-color: white;
                border-radius: 50%;

                .map-logo {
                    height: 110px;
                    width: 110px;

                    .img {
                        width: 100%;
                    }

                    .img-lock {
                        width: 64px;

                        position: absolute;
                        top: -100px;
                        right: 100px;
                    }
                }
            }

            &:disabled {
                img:first-child {
                    opacity: 0.2;
                }
            }

            &:hover:not(:disabled) {
                scale: 1.1;
            }
        }

        .card-map {
            border: solid 2px rgb(102, 56, 0);
            background-color: rgb(255, 176, 80);
            border-radius: 10px 25px;
            padding: 10px;
        }
    }

    .flex-row-reverse .img-lvl-status {
        left: 90%;
    }
}

.s-curve-connector {
    position: relative;
}

.svg {
    display: block;

    width: 300px;
    height: 300px;
    margin: -80px auto;
    z-index: 1;

    &.inversed-svg {
        transform: scaleX(-1);
    }
}
