@import "./../includes/includes.scss";

.mainMenu{
    background-color: rgb(250, 217, 173);
}

.box-mod{
    background-color: white;
    border: 2px solid rgb(151, 151, 151);
    border-radius: 20px;
}

.btn-custom {
    width: 200px;
    background-color: blue;
}

.btn-custom:hover {
    background-color: greenyellow;
}

.btn-custom.active,
.btn-custom:active {
    background-color: green;
}

.btn-custom a{
    text-decoration: none;
    color: white;
}

.btn-custom a:hover{
    color: blue;
}

