@import "./../includes/includes.scss";

.mainMenu{
    background-color: rgba(194, 218, 226, 1);
}

.mod-btn{
    color: rgb(0, 0, 0);
}

.btn-custom-home {
    width: 200px;
    color: black;
    background-color: rgb(255, 255, 255);
    border: 2px solid #808080;
    margin-bottom: 200px;
    &:hover{
        background-color: rgba(172, 203, 225, 1);
    }
}

.home-logo{
    height: 50%;
}
