@import "./../includes/includes.scss";

body {
    background-color: #edf7fa;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.help-modal-description {
    text-align: left;
}

.home-content-container {
    padding: 16px;

    position: relative;

    .help-btn {
        background: none;
        border: none;

        position: absolute;
        top: 0;
        right: -32px;
    }

    .btn-custom-home {
        width: 100%;
        font-size: 25px;
        margin: 16px;

        padding: 16px;
    }
}

.btn-info {
    font-size: 30px;
}
