@import "./../includes/includes.scss";

.mapMenu {
    

    h1 {
        padding: 30px;
        border: 2px solid black;
        border-radius: 20px;
        background-color: white;
    }
}


.map-btn {
        text-decoration: none;
        color: white;
        padding: 20px 100px;
        border: 2px solid rgb(62, 225, 7);
        border-radius:2%;
        background-color: rgb(0, 225, 225);

        &.disabled {
            background: red;
        }

        &:hover {
            color: black;
            background-color: rgb(0, 255, 0);
        }
    }

    
    .left{
        flex-direction: start;
    }
    
    .right{
        flex-direction: end;
    }

    .conteiner-map{
        margin-top: 200px;
    }