.nav {
    padding: 5px 0 5px 15px;
    height: 100px;

    .nav-icon {
        background: transparent;
        border: 0;

        .material-symbols-rounded {
            font-size: 50px;
            color: black;
        }

        img {
            width: 20px;
        }
    }

}