@import "./includes/includes.scss";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .btn-primary {
        --bs-btn-bg: #312c4c;
        --bs-btn-border-color: #312c4c;
        --bs-btn-hover-bg: #02a2ff;
        --bs-btn-hover-border-color: #02a2ff;
        --bs-btn-focus-bg: #02a2ff;
        --bs-btn-active-bg: #02a2ff;
        --bs-btn-active-border-color: #02a2ff;
        --bs-btn-disabled-bg: #02a2ff;
        --bs-btn-disabled-border-color: #02a2ff;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
